body { background: #db00a8; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-uploader-0 { color: #db3ed7; font-size: 15px; margin-bottom: 5px; }
.block-user-1 { color: #96dce1; font-size: 19px; margin-bottom: 5px; }
.block-cart-2 { color: #272c11; font-size: 18px; margin-bottom: 5px; }
.block-uploader-3 { color: #4a53a3; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #86a6f0; font-size: 13px; margin-bottom: 5px; }
.block-metrics-5 { color: #745bd; font-size: 15px; margin-bottom: 5px; }